*~
*/#*
*/.#*
*/*/*/#*
*/*/*/.#*
*/__pycache__/
*/*/__pycache__/
*/.DS_Store
*/*/.DS_Store
db.sqlite3
.idea/
hypercorn_pid
hypercorn.txt
pid.txt
error.txt
log.txt
*.log
PID
ENV/*
STATIC_FILES/*
*/migrations/*
debug.log
.vscode
.env

