[Unit]
Description=quantumcrypto daphne daemon
After=network.target

[Service]
User=quantumcrypto
Group=quantumcrypto
Environment="DJANGO_SETTINGS_MODULE=quantumcrypto.settings"
WorkingDirectory=/home/quantumcrypto
StandardOutput=file:/var/quantumcrypto.log
StandardError=file:/var/quantumcrypto.log
ExecStart=/home/quantumcrypto/ENV/bin/daphne \
          -u /tmp/daphne.sock -p 8008 \
          quantumcrypto.asgi:application

[Install]
WantedBy=multi-user.target
