[Unit]
Description=cryptoweb daphne daemon
After=network.target

[Service]
User=cryptoweb
Group=cryptoweb
Environment="DJANGO_SETTINGS_MODULE=cryptoweb.settings"
WorkingDirectory=/home/cryptoweb
StandardOutput=file:/var/cryptoweb.log
StandardError=file:/var/cryptoweb.log
ExecStart=/home/cryptoweb/ENV/bin/daphne \
          -u /tmp/daphne.sock -p 8008 \
          cryptoweb.asgi:application

[Install]
WantedBy=multi-user.target
